[2020-02-20 23:52] azjezz opened #12 "Generator functions"
All functions within `Psl\Iter` that return `Generator` should be moved to `Psl\Gen`.

A wrapper for `Psl\Iter` should be created to return `Psl\Iter\Iterator` instead of a generator ( i.e a rewindable, seekable iterator )

[2020-02-21 22:32] #12 closed

[2020-07-09 23:32] azjezz opened #27 "DateTime API"

[2020-07-09 23:33] azjezz opened #28 "I/O, File, and Network API"
- [x] IO handles ( done - #127 )
  - [x] File handles ( done - #250 )
  - [x] Network handles ( done - #257 )
    - [x] Socket handle
    - [x] Server Interface
    - [x] TCP
      - [x] TCP Sockets
      - [x] TCP Server
    - [x] UDP
      - [x] UDP Sockets
      - [x] UDP Server

[2020-07-09 23:34] azjezz opened #29 "Regex API"

[2020-07-10 00:05] azjezz opened #30 "Quality Assurance tools integration."
This is a meta issue to keep track of which QA tools are being used in PSL, the end goal is to have all these tools ( and more hopefully ) integrated with PSL and as part of our CI. ( PRs welcome! )

### Coding Standards

| Tool            | Description                 | Integrated |
| --------------- | --------------------------- | ---------- |
| php-cs-fixer    | PHP Coding Standards Fixer  | ✅

[2020-07-10 00:05] azjezz commented on #30
cc @fmasa :)

[2020-07-11 22:11] azjezz commented on #30
related #31

[2020-07-12 20:05] azjezz opened #36 "add pseudo random functions"
the `Random` component currently implements cryptographically secure random functions, these should be moved to the `SecureRandom` namespace, while adding pseudo-random functions under `PseudoRandom` namespace.

i.e

[code]

[2020-07-15 18:40] fmasa commented on #30
@azjezz I have looked into PHPStan here. There is sadly nothing similar to type coverage as it is reported by Psalm (closest thing is probably https://github.com/phpstan/phpstan/issues/845). What I can do is adding relevant `@phpstan-` annotations and add PHPStan to CI (for code itself and maybe for tests?).

If that makes sense to you, then I'll try to do some groundwork this weekend :slightly_sm

[2020-07-15 19:26] azjezz commented on #30
Sure! That would be a great addition

[2020-07-16 16:13] #36 closed, assigned to azjezz

[2020-07-30 10:36] azjezz opened #42 "Type Assertation API"
see https://github.com/hhvm/type-assert

[2020-07-30 10:37] azjezz opened #43 "Json API"
see https://github.com/nuxed/json

~blocked by #42~

[2020-08-03 19:48] #42 closed, assigned to azjezz

[2020-08-08 04:09] #43 closed, assigned to azjezz

[2020-09-23 06:21] veewee opened #52 "Join forces?"
Hello,

Today I landed on this repository. It looks very similar with something I am creating:
https://github.com/veewee/happy-helpers

Feel free to check it out.

There are:

* many simalar approaches: iterables, predicates, ...
* some other approaches like: results
* some additional things like xml, dom, callables, ...

Besides what is in there, I also put some thought in stuff like file resourc

[2020-09-24 18:05] azjezz commented on #52
Hello @veewee, I'm very interested in this, and would love to bring some things over from happy-helpers.

I'm taking a look at your repository currently and I'll send you a DM with my findings on twitter :)

[2020-09-28 14:05] #52 closed, assigned to veewee

[2020-09-28 14:09] azjezz opened #58 "[Tests] missing static analysis"
Currently, tests are now being type-checked, but it would be nice if we do type check everything within PSL, tests included.

[2020-09-28 14:14] azjezz opened #59 "Objects API"
The `Obj` component should contain functions that are related to objects, or OOP in general.

examples ( not sure about the naming yet ):

- `Psl\Obj\contains_method($object, $method): bool`
- `Psl\Obj\contains_property($object, $property): bool`
- `Psl\Obj\class_exists($classname): bool` ( always triggers the autoloader )
- `pure Psl\Obj\class_included($classname): bool` ( never triggers the auto

[2020-09-29 07:24] veewee opened #60 "XML API"

[2020-09-29 21:20] azjezz opened #62 "[Str] Grapheme support"
Just like `Psl\Str\Byte` component, we want to add `Psl\Str\Grapheme` that wraps grapheme_str* function in a nicer API that is consistent with our `Psl\Str` and `Psl\Str\Byte` components.

[2020-09-29 21:21] azjezz opened #63 "Intl API"
wrap ext-intl

[2020-09-29 23:07] azjezz opened #64 "Documentation"
We should probably have documentation that people can use to lookup functions and their descriptions + a couple of examples.

[2020-09-30 14:56] azjezz opened #66 "Promise API"
implement promises according to the [Promises/A+](https://promisesaplus.com/) open standard.

[2020-09-30 20:01] veewee commented on #66
Promises sound nice as well, but there are many packages out there already... Does it make a lot of sense to implement it again from scratch (which is a lot of hard work) instead of using amphp or react promises and coroutines? (Which are quite nice and have the async event loops covered through multiple extensions with vanilla PHP callbacks etc.)

[2020-09-30 20:02] azjezz opened #67 "Migrate to GitHub Actions"
Migrate CI build from Travis-CI to GitHub actions.

[2020-09-30 20:06] azjezz commented on #66
I'm not really sure about this, the question should be: "does it make sense to have promises in a standard library", the issue is we cannot use Amphp, or ReactPHP here, as PSL should not have any dependencies except for PHP itself and core/bundled/external extensions ( we shouldn't rely on PECL extensions as well, see: https://www.php.net/manual/en/extensions.membership.php ). 🤔

[2020-09-30 21:29] WyriHaximus commented on #66
As long as it has a `then` method we at @reactphp can support it. (Assuming you're wrapping it through our `resolve` function.)

[2020-09-30 21:35] azjezz commented on #66
I believe guzzle does the same, so I'm closing this as `Psl\Result\ResultInterface` will have a `then` method ( see discussion at #65 ), which mean it can *act* as a promise to some extent.

[2020-09-30 21:35] #66 closed, assigned to nobody

[2020-10-01 01:03] #67 closed, assigned to nobody

[2020-10-01 04:16] veewee commented on #66
Wow, that's nice! Did not know react could do that!

[2020-10-01 10:22] davidribeiro commented on #62
He @azjezz
I can take care of this if you want

[2020-10-01 10:27] azjezz commented on #62
Sure! that would be great!

[2020-10-01 10:37] azjezz opened #71 "[Str] add encoding functions"
- [ ] rename `Psl\Str\encoding` to `Psl\Str\detect_encoding`
- [ ] add `Psl\Str\convert_encoding(string $string, string $from, string $to): string` ( see: https://www.php.net/manual/en/function.mb-convert-encoding.php )
- [ ] add `Psl\Str\is_utf8(string $string): bool`

[2020-10-01 10:43] lotfio commented on #64
do we have an example on how documentation files should look like ?
does this example help [Arr](https://github.com/lotfio/psl/blob/develop/docs/v1.0/Arr.md)

[2020-10-01 14:45] azjezz commented on #64
I don't have an example in mind, but one thing to note is that we want to document generic functions, so instead of:

[code]

it would be:

[code]

as that's how the function would look like if PHP had generics, but currently we use Psalm for that.

Note, when using generics in code, i would recommand using `hack` as a language instead of php, so we get a better highlight for generics.

example:

[2020-10-01 14:47] azjezz commented on #64
by the way, I would suggest documenting 1 component at the time and sending a PR for that instead of trying to document everything together, so it makes things easier to review, and we can focus on one thing at the time.

[2020-10-01 15:45] veewee commented on #64
Currently the code also contains detailed docblocks with code samples in various places.
I don't really know of any tooling, but would generating the docs from code make sense instead of manually keeping docs and code in sync?

[2020-10-01 15:54] azjezz commented on #64
I have actually tried to do that in the past but gave up on it.

this is the generated I previously wrote ( a bit messy and incomplete ):

[code]

cc @lotfio if you want to do that, you can use the generator as a starting point.

[2020-10-03 17:53] veewee opened #73 "[Iter] split `reduce` into multiple functions"
Currently the `Iter\reduce` function acts as a `reduce_with_keys`. Is there a specific reason for this or is it safe to split it into `reduce`, `reduce_keys` and `reduce_with_keys` function?

https://github.com/azjezz/psl/blob/develop/src/Psl/Iter/reduce.php

[2020-10-03 18:08] azjezz commented on #73
You are right, I think we should split this.

[2020-10-03 18:29] azjezz opened #75 "[Str] add `after` and `before` helpers"
add `after{_ci|_last{_ci}}` and `before{_ci|_last{_ci}}` helper string functions.

We should implement these functions for `Psl\Str`, `Psl\Str\Byte`, and `Psl\Str\Grapheme` ( refs #74 ), which totals to a new 24 functions.

`Psl\Str` implementations would have an extra argument `?string $encoding = null`.

[code]

[2020-10-03 19:17] khamer commented on #75
I'm not sure what `after` and `before` are supposed to do, to be honest. Is the idea that

- `Str\after('hello world', 'w') === 'orld'`
- `Str\after('hello world', 'w', true) === 'world'`
- `Str\after('hello world', 'w', true, 2) === 'rld'`
- `Str\after('hello world', 'w', false, 2) === 'ld'`
- `Str\before('hello world', 'o') === 'hell'`
- `Str\before('hello world', 'o', true) === 'hello'`
- `Str\

[2020-10-03 19:39] azjezz commented on #75
your understanding is correct, but `$offset` is not used as a length, but as an `$offset` since these functions would use `search`, `search_last`, `search_ci`, and `search_last_ci` internally, the `$offset` argument should be passed to the search function.

see: after, afterLast, before, and beforeLast at https://github.com/symfony/string/blob/master/AbstractString.php#L130

[2020-10-04 19:24] #71 closed, assigned to nobody

[2020-10-06 20:29] WyriHaximus commented on #66
@veewee Yup, only thing is that we assume it is a pure promise with no side effects.

[2020-10-07 08:33] azjezz opened #83 "[DataStructure] iterating over data structures"
see discussion in #53 ( https://github.com/azjezz/psl/pull/53#discussion_r500772765 )

Questions:

- should you be able to iterate over a data structure ( queue, stack .. etc)
- should values be removed from the DS when iterating over them?
- should values pushed while iterating the DS be consumed in the same loop?

[2020-10-07 08:35] azjezz commented on #83
/cc @veewee

[2020-10-07 12:12] veewee commented on #83
Would it make sense to make the data structures immutable?

That way the questions are answered with:

* you can iterate a data structure
* the result after iteration will be exactly the same as before (so keeps values) : Think of it as "you choose to just go through the list instead of manually dequeueing)
* pushing results in a new data structure and won't be able to consumed inside the same loo

[2020-10-07 14:33] azjezz commented on #83
I like the idea of immutable data structures.

If i understand correctly:

[code]

maybe we can do the same as in `Collection`, and have `Queue`, `PriorityQueue`, `Stack` be immutable, with another variant `MutableQueue`, `MutablePriorityQueue`, and `MutableStack` that are mutable ( see `Psl\Collection\Vector` vs `Psl\Collection\MutableVector`) ?

[2020-10-07 14:43] veewee commented on #83
The `dequeue` method in your example should also be immutable then? Meaning the while will need to reassign the parameter pointing to the new version of the queue as well (which might be a bit counterintuitive).

Having both options is nice, but also more work to create and maintain.
They should behave in a similar way, meaning that the 3 questions on top need to be answered in the same way for bo

[2020-10-07 14:55] azjezz commented on #83
Here's a real world usage of PriorityQueue ( https://github.com/nuxed/http-server/blob/develop/src/Nuxed/Http/Server/Handler/NextMiddlewareHandler.hack#L5-L26 ):

[code]

if we switch to immutable DS, this is how the API would look like ( correct me if i'm wrong ):

[code]

the return type of `dequeue` is now bothering me, i'm not sure if immutable would be a good idea here since most PHP software

[2020-10-07 15:18] veewee commented on #83
That is correct: you'dd have a tupple dequeue result.
In the immutable implementation, I would not write back to the private queue property.
In that case, you can run the middleware handle method multiple times, since the base queue remains untouched.

I think the PHP community is starting to adopt these patterns. Even though it's not that broadly known at this point.

(Typing from my phone, can p

[2020-10-07 18:19] veewee commented on #83
I think tupples are getting more and more known in the community. The immutable implementation is indeed more verbose.
Therefore, I suggest following things:

- Rename current implementation to Mutable - making it clear that it is mutable by design and making it consistent with the collections.
- This makes room for a possible immutable version that lives besides is.
- Inside the immutable version

[2020-10-08 01:03] #73 closed, assigned to nobody

[2020-10-08 15:23] ddziaduch commented on #29
Hi @azjezz

I've started working on this. Got first draft, can you verify it?
[code]

[2020-10-08 15:47] azjezz commented on #29
Hey @ddziaduch, I suggest you open a pull request so I can do a line-by-line review, one thing to note about the Regex API, is that we want it to be type-safe, while it's "impossible" to do so 100%, we should try, and as per PSL rules, references ( `int &$coutn` ), must not be used.

You can take a look at HSL implementation ( https://docs.hhvm.com/search?term=HH%5CLib%5CRegex ), but we can't actu

[2020-10-08 15:48] azjezz commented on #29
Hey @ddziaduch, thank you for picking this up! I suggest you open a pull request so I can do a line-by-line review, one thing to note about the Regex API, is that we want it to be type-safe, while it's "impossible" to do so 100%, we should try, and as per PSL rules, references ( `int &$coutn` ), must not be used.

You can take a look at HSL implementation ( https://docs.hhvm.com/search?term=HH%5CL

[2020-10-08 18:53] ddziaduch commented on #29
Thanks for the feedback @azjezz :)

[2020-10-09 06:28] veewee commented on #29
Besides enhancing the types, I find it also important that the regex functions deal with pcre errors (invalid regexes).
There is some good stuff in here: https://github.com/spatie/regex - even though I don't always like the API of the package.

More info about dealing with PCRE errors:
https://github.com/spatie/regex/blob/master/src/RegexResult.php#L9-L16

@azjezz : I like the `Pattern<T>`. Can't

[2020-10-09 09:02] azjezz commented on #29
mm no, `Pattern<T>` in hack is not a class, its a subtype of string that can constructed by using `re""`, e.g: `$pattern = re"#^(HTTP/)?(?P<version>[1-9]\d*(?:\.\d)?)$#";` is of type `Pattern<shape('version' => string, ... )>`, at runtime, it is just a string.

[2020-10-09 11:38] veewee commented on #29
Would it make sense to make a class for it?
For static analysis, it is an issue to validate what is inside a pattern in order to tell what e.g. the matches array will look like:

- https://psalm.dev/r/ab3913bfdf
- https://3v4l.org/ptoMe

If you add an additional pattern class, you can make psalm type-safe:

- https://psalm.dev/r/b91bfe654b
- https://3v4l.org/0COfQ

Downside : you still need to typ

[2020-10-09 12:12] azjezz commented on #29
I think a psalm-plugin is a good idea, we can have it a separate package and it the suggestions ( we don't want to install a pile of packages that might not be used if someone is not even using `Psl\Regex` ).

the plugin can take care of other things beside regex, such as enforcing `Type\string()->coerce($var)` istead of `(string) $var`, and forbidding the use of php builtin functions that PSL rep

[2020-10-17 00:46] azjezz opened #89 "Hash API"

[2020-10-20 06:45] #89 closed, assigned to azjezz

[2020-10-20 06:47] azjezz opened #91 "[Collection] `Vector` and `Map` are not `@psalm-immutable`"
All collection interfaces + `Vector` and `Map` class should be marked with `@psalm-immutable`

[2020-10-20 06:48] azjezz commented on #91
The reasons I didn't tag the immutable at first is that `Vector` and `Map` used a lot of Iter\ and Arr\ functions that weren't pure.

but I think we can do this now.

[2020-10-30 17:23] azjezz opened #97 "[Xml] remove the xml component from the develop branch."

[2020-10-30 23:06] azjezz commented on #97
@veewee I sinned and force pushed develop to get rid of the commits related to XML, I then cherry-picked them into the experimental branch.

so you could still use things there with `composer require azjezz/psl:dev-experimental`

[2020-10-30 23:07] #97 closed, assigned to veewee

[2020-11-02 14:23] veewee opened #99 "[Type] The types are not pure / immutable"
All type function should be psalm-pure
All internal type clsses should be marked with psalm-immutable

[2020-11-02 14:26] veewee opened #100 "[Type] Missing way of declaring map/vector types"
Currently there is no type for specifying e.g. `Type\list(Type\string())`.
Example use case:

[code]

[2020-11-02 17:32] #62 closed, assigned to nobody

[2020-11-08 15:28] #100 closed, assigned to azjezz

[2020-12-16 07:06] veewee commented on #99
see #101

[2020-12-16 07:06] #99 closed, assigned to veewee

[2021-01-17 15:34] #75 closed, assigned to nobody

[2021-01-18 08:02] veewee opened #113 "[Arr] flatten works unintuitive for lists"
**Describe the bug**
`Arr\flatten()` uses the index of the array to flatten it. This is ok for maps, but strange for lists:

**To Reproduce**
[code]

Expected: [1, 2, 3, 4, 5, 6]
Actual: [4, 5, 6]

**Additional context**

Maybe we could make it behave more like the JS version for lists?
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flat

[2021-01-18 08:40] azjezz commented on #113
Hm, actually, I don't really consider this a bug, as the function signature doesn't promote the use of `list`, but instead `array<Tk, Tv>`, i think what would be a better alternative is having another namespace that deals with lists, what do you think about adding `Psl\Vec\flatten`? 🤔

[2021-01-18 08:48] veewee commented on #113
That might make sense, but will also result in yet another duplication of a lot of existing`Arr|Iter` functions.
It would make the psalm typing easier though :)

[2021-02-01 20:21] azjezz commented on #113
I'm introducing new `Vec` and `Dict` components next week, all functions in `Arr` will be deprecated and moved to either `Dict` or `Vec` depending on what they deal with ( v1.3.0 ), v2.0.0 will not contain `Arr`.

[2021-02-07 13:43] azjezz opened #120 "refactoring Arr and Iter"
`Arr` and `Iter` components are currently confusing, with some functions being pure, and other not, some returning lists, dicts, or just a value/key, or something else.

The idea would be:

1. `Iter` would contain generic array functions that operate on all iterables, and usually don't return an iterable ( e.g: Iter\first, Iter\count, Iter\contains, Iter\contains_key .. etc )
2. a new component `V

[2021-02-07 13:45] azjezz commented on #120
deprecation will take place in 1.2, and the removal of old functions will happen in 2.0.

[2021-02-12 13:05] bendavies opened #122 "Not installable without ARGON2 support"
**Is your feature request related to a problem? Please describe.**
Hi there,

This library is not install-able unless argon2 support has been [compiled into php](https://www.php.net/manual/en/password.installation.php).

Otherwise, we will receive:
[code]

**Describe the solution you'd like**
Would you be open to conditionally supporting the argon2 password hashing, only if argon 2 support is avai

[2021-02-12 14:00] azjezz commented on #122
Hm, i thought ext-sodium ( which is required by this library ) + php >= 7.4 would mean argon is enabled by default ( https://wiki.php.net/rfc/sodium.argon.hash ) 🤔

what method did you use to install PHP? are you building it yourself?

[2021-02-12 14:11] bendavies commented on #122
it doesn't come with sodium, no.
php needs to be compiled with `--with-password-argon2` which i'm doing with https://phpbrew.github.io/phpbrew/

[2021-02-15 11:29] bendavies commented on #122
i've recompiled anyway, so feel free to close.
but it may be nice to handle this failure a bit more nicely than a fatal

[2021-02-16 17:50] azjezz opened #128 "[Type] add `Type::matches($value): bool`"
Add a new `matches` method in internal types, and deprecate all `Type\is_*($value)` functions in favor of `Type\*()->matches($value)`.

[2021-02-16 17:51] azjezz commented on #128
cc @Ocramius

[2021-02-16 17:54] azjezz commented on #122
This definitely needs to be handled in a nicer way, i will leave it open until i figure out how to do so.

However, the official PHP build should contain support for argon2 if it contains sodium extension, so this is probably an issue that only people compiling their own PHP binaries will face.

[2021-02-16 18:05] azjezz opened #129 "[Type] add `Type\vec($vt)` and `Type\dict($kt, $vt)`"

[2021-02-16 18:21] Ocramius opened #130 "`Psl\Type\non_empty_string()` is not marked as `@psalm-pure`?"
In the context of following snippet:

[code]

psalm reports:

[code]

I wonder if all type constructors can/should be declared pure? Is this where we got stuck on conditional type purity?

[2021-02-16 18:50] azjezz commented on #130
back to https://github.com/vimeo/psalm/issues/4145 😛

the issue here is that we can't declare `Type::assert`/`Type::coerce` as "pure", because not all implementations are pure ( for example IterableType::assert iterates over an iterable, which might not be immutable ).

so i suggest you add `@psalm-suppress` here.

[2021-02-16 18:54] azjezz commented on #130
Also, i attempted to improve this by having the psalm plugin report the call as pure if the argument is pure/immutable, but that is not possible via the plugin system, and it seems psalm have a special case for internal php functions ( e.g: https://github.com/vimeo/psalm/blob/bd6efd7cf2b7e6fdf01b343be0c5bbb9aacdbbbb/src/Psalm/Internal/Codebase/Functions.php#L499 )

[2021-02-16 19:11] Ocramius commented on #130
Wow that's ugly :D

Guess we'll have to improve upstream before being able to declare it here: still like vimeo/psalm#4145 as an idea, but hard to bring it to life :-\

[2021-02-16 19:14] azjezz commented on #130
yea, i will trying to play around with psalm to see if i can make it possible to have special "purity checkers" for function/method calls, this will allow to mark things like `Type\string()->assert()` pure without the need for vimeo/psalm#4145 using the plugin

[2021-02-17 08:19] HenkPoley commented on #28
Accidentally stumbling onto this. Would the I/O addition allow one to keep read and write access more clearly separate? E.g. an API with a cache backing (cache _reads_) for speed, and in another part validation (database _reads_) as a first step, before _writing_ out data. A bit akin to the Haskell I/O monad (which I am _not_ very familiar with).

Of course with backing from Psalm, since PHP doesn

[2021-02-17 08:52] mholubowski opened #131 "PHP 5.6 Support"
**Is your feature request related to a problem? Please describe.**
For some of our important projects, we need to use PHP 5.6 for comparability with the customers' environments.

**Describe the solution you'd like**
Any information on what it would take to use psl within a PHP 5.6 project.

**Describe alternatives you've considered**
Writing some of the functions we need ourselves over time. This

[2021-02-17 08:57] azjezz commented on #131
I'm sorry @mholubowski, but PSL only supports PHP 7.4 >=, and there's no plans to support old PHP releases.

[2021-02-17 08:57] #131 closed, assigned to nobody

[2021-02-17 09:33] azjezz commented on #28
see #127

for now, we want to have basic IO handles, later add support for Files and Network ( Sockets, Servers .. etc )

[2021-02-17 20:04] #128 closed, assigned to azjezz

[2021-02-17 20:04] #129 closed, assigned to azjezz

[2021-02-19 07:17] BackEndTea commented on #30
Infection may be able to mutate functions in the future: https://github.com/infection/infection/pull/1483 It may be a nice addition to the toolchain, once that is possible

[2021-02-20 19:37] #29 closed, assigned to azjezz

[2021-02-21 06:37] azjezz opened #140 "Html component"
Add html component that contains functions to replace the following PHP builtin functions:

- html_​entity_​decode
- htmlentities
- htmlspecialchars_​decode
- htmlspecialchars

[2021-02-21 06:39] azjezz commented on #113
this is done :)

use `Vec\concat` to concat multiple lists, `Dict\flatten` to flatten multiple dicts :D

[2021-02-21 06:39] #113 closed, assigned to azjezz

[2021-02-21 06:45] azjezz opened #141 "Filesystem component"
Introduce a filesystem component containing a replacement for the following PHPs builtin filesystem functions:

-    basename ( `Psl\Filesystem\basename` )
-    chgrp ( `Psl\Filesystem\chgrp` )
-    chmod ( `Psl\Filesystem\chmod` )
-    chown ( `Psl\Filesystem\chown` )
-    copy ( `Psl\Filesystem\copy` )
-    dirname ( `Psl\Filesystem\dirname` )
-    file_​exists ( `Psl\Filesystem\file_exists` )
-

[2021-02-21 06:52] azjezz opened #142 "Shell component"
Introduce a shell component containing a replacement for the following PHPs builtin shell functions:

- escapeshellarg ( `Psl\Shell\escape_argument` )
- escapeshellcmd ( `Psl\Shell\escape_command` )
- exec, shell_exec ( `Psl\Shell\execute` )

`Psl\Shell\execute` must always return a string, containing the full output, if the command returned a non `0` exist code, an exception should be thrown.

Th

[2021-02-23 17:15] bendavies opened #145 "support for non-empty-array/non-empty-list"
Hi there!

**Is your feature request related to a problem? Please describe.**

Is is feasible to
1. add `non-empty-array` and `non-empty-list` support to the type system, such that:
1. the return  `Psl\Iter\first` and other functions can be `T` and not `T|null`?

**Describe the solution you'd like**
I want to be able to do things like:

[code]

Is there a better way to achieve what I'm trying to d

[2021-02-23 17:51] azjezz commented on #145
hm, we used to have `Arr\firstx` and `Arr\lastx` at some point, but i don't remember when they were removed.

the solution here is, if there's a function that returns `T|null`; we should add a function with the same name, but suffixed with `x` that always return `T`, and throws `Psl\Exception\InvariantViolationException` in case of `null`

e.g:

[code]

If you would like to open a PR adding `Iter\

[2021-02-23 18:02] azjezz commented on #145
*actually* there's a better solution to this.

instead of:

[code]

we can have:

[code]

This would be a better solution in the long run, which we can adopt in other components such as `Str` ( e.g: `Str\before`, `Str\after` ).

and when you are sure `$iterable` is not empty, you can do `Iter\first($iterable, required: true)`

[2021-02-26 06:48] veewee opened #146 "[Type] Coerce float to string"
Currently, it is not possible to convert a float -> string.
https://github.com/azjezz/psl/blob/c34f75bcb27298a1fdb017c07cd90f07c78046e2/src/Psl/Type/Internal/StringType.php#L39

The other way around (string -> float) is possible.

We could go for one of these solutions to make it possible in a locale-safe way:

- https://github.com/moneyphp/money/blob/512333ef834bd77f76e865a30eb5963d480e2ed7/src/N

[2021-02-26 07:22] BackEndTea commented on #146
I think this got fixed in PHP 8.0 right? There casting a float to string is no longer locale aware.

[2021-02-26 07:31] veewee commented on #146
Yes it did: https://wiki.php.net/rfc/locale_independent_float_to_string

But PSL1 also supports PHP 74.

So it's probably best to go for something like

[code]

But that means we need to specify a precision - which can be seen as a data manipulation.
Because it results in:

[code]

We could rtrim 0 from the fractional part or leave it as-is : it doesn't hurt anyone as long as the number is >= `max

[2021-02-28 15:52] azjezz commented on #146
we are talking about string -> float here, not float -> string, right?

[2021-02-28 17:16] veewee commented on #146
Sorry for the confusion.
I updated the issue. It's about coercing a float -> string.
See https://github.com/azjezz/psl/blob/c34f75bcb27298a1fdb017c07cd90f07c78046e2/src/Psl/Type/Internal/StringType.php#L39

[2021-03-01 03:02] #142 closed, assigned to nobody

[2021-03-02 15:49] veewee commented on #60
@azjezz
Knowing that I implemented pretty much everything XML related in https://github.com/veewee/xml instead now., how do you want to continue with this issue?

Since I know you don't really like the DOM part, I am willing to move it over to the php-standard-library organisation and maintain it in there as well, if that might be a solution for you. I think the other components turned out quite g

[2021-03-02 16:21] azjezz commented on #60
not sure really, i assigned it to you since you are much more familiar with it.

i think we want to have something to do with `DOM` in here, but we don't want to also dive deep into the XML rabbit hole.

so we can have a replacement for `DOMDocument`, but not the other parts or xml ( we can refer people to `veewee/xml` if they need more advanced features ).

WDYT?

[2021-03-02 16:30] veewee commented on #60
The dom extension is the worst to wrap, since it's api is so broad. That is why I went with a more flexible design in veewee/Xml: leaking parts of the dom objects to the end user whilst keeping in control about the more error-prone parts.

I dont really know how to simplify it for this package's standards / point of view.

For this package a xml_encode and xml_decode function could be nice. But I

[2021-03-02 17:30] azjezz commented on #60
If you think it would be too much to wrap DOM here, i think we can close the issue then, and agree to delegate things to `veewee/xml`, we don't have to dig deep into html/xml stuff, for html ( #140 ), we just need `encode`/`decode` functions ( same as PHPs `htmlspecialchars` )

[2021-03-02 17:55] veewee commented on #60
Ok. Closing this one for now.

[2021-03-02 17:55] #60 closed, assigned to veewee

[2021-03-05 14:43] azjezz commented on #140
fixed in #150 #149

[2021-03-05 14:43] #140 closed, assigned to nobody

[2021-03-08 06:29] #141 closed, assigned to nobody

[2021-03-09 23:14] azjezz commented on #91
most methods are now mutation free and a new named ctor ( `fromArray` ) that is pure has been added, meaning collections can be used in a pure context.

[2021-03-09 23:14] #91 closed, assigned to azjezz

[2021-03-15 02:02] #64 closed, assigned to nobody

[2021-03-15 02:24] azjezz commented on #146
@veewee are you interested in writing a PR for this?

i guess we can go with something like:

[code]

see https://github.com/azjezz/psl/blob/1.5.x/src/Psl/Type/Internal/LiteralScalarType.php#L135-L143

[2021-03-15 07:27] veewee commented on #146
Sure, I'll give it a try later this week.

[2021-03-23 23:54] azjezz opened #164 "support inherting side effects."
**Is your feature request related to a problem? Please describe.**

wrapper functions hide the side effects of the callable being wrapped.

e.g:

[code]

**Describe the solution you'd like**

a new annotation `@inherits-effects [callable-function]`

[code]

**Additional context**

This is the closest thing we can get to conditional purity, while keeping things simple as possible, it is insipred by

[2021-03-24 04:04] azjezz opened #166 "move psalm plugin to a seperate package"
psalm plugin should be moved to it's own repository ( https://github.com/php-standard-library/psalm-plugin )

TODO:

- [x] move the plugin to it's own repository and change the namespace to `Psl\Psalm` ( instead of `Psl\Integration\Psl` )
- [x] deprecate the current plugin and recommend installing the package instead.
- [ ] remove the plugin located in this repository in v2.0

[2021-03-24 06:21] veewee commented on #166
Why should it be a separate package?

[2021-03-24 06:37] azjezz commented on #166
to drop psalm from dev dependency in this project, and use the phar instead.

the reason to drop psalm: https://github.com/azjezz/psl/tree/asio/src/Psl/Asio/Internal#amphp-event-loop

[2021-03-24 06:40] azjezz commented on #166
not sure if we would use the phar, or have a dedicated directory to install dev tools, either way, we can't keep it in require-dev

[2021-03-25 07:12] ghost opened #167 "Performance of reimplemented functions?"
I understand that a completely reimplemented function in userland code will be slower than the compiled C counterpart, yet I thought that for many functions PSL simply implemented a wrapper for native functions, thus having little overhead.

I got a little surprised when I was replacing some instances of `\array_unique` of suddenly getting a measurable drop in performance (those are rather large a

[2021-03-25 07:20] azjezz commented on #167
this is expected, if you are using PHP >= 7.4, i recommend including `vendor/azjezz/psl/src/preload.php` in your preload file, or using it as a preload file if you don't have anything else to preload, which should give better performance as functions will be cached after the first run ( assuming you are using php-fpm or fastcgi ), if it's a CLI script, i cannot recommand anything that would improv

[2021-03-25 07:29] azjezz commented on #167
Hm, after https://phpsandbox.io/n/wispy-leaf-75nn-pnldg, i noticed that the unqiue function is causing the performance issue here, not `count` ( which has almost the same performance ).

I think there's a way to fix this.

in https://github.com/azjezz/psl/blob/1.6.x/src/Psl/Dict/unique.php#L17, we should add
[code]

can you please send a PR and verify that performance has been improved in this cas

[2021-03-25 07:49] ghost commented on #167
Just tried the fix and now the performance is perfectly comparable.

PR incoming.

![image](https://user-images.githubusercontent.com/60233442/112437159-eee2cc00-8d46-11eb-83eb-77b33fe16bec.png)

Thanks!

[2021-03-25 10:52] #167 closed, assigned to nobody

[2021-03-27 19:10] #166 closed, assigned to azjezz

[2021-03-27 19:16] azjezz commented on #145
issue moved to the plugin repository,

[2021-03-27 19:16] #145 closed, assigned to nobody

[2021-03-27 19:19] dependabot-preview[bot] opened #171 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/azjezz/update-logs/74089469).

[2021-03-27 20:55] #171 closed, assigned to nobody

[2021-03-27 20:56] dependabot-preview[bot] opened #172 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/azjezz/update-logs/74092318).

[2021-03-27 20:57] #172 closed, assigned to nobody

[2021-04-06 14:17] rauanmayemir commented on #83
It would be really nice to have a fallback with an optional mapping to https://github.com/php-ds.

[2021-04-22 09:50] rauanmayemir commented on #122
This is hitting me on CI and re/building PHP is not something I would want to do unless I really need argon2.

[2021-04-22 11:04] azjezz commented on #122
i will try finding a fix later this week, as for now, PRs are welcome :)

[2021-04-26 17:33] nzour opened #183 "Union for variadic types"
There are a lot of situations may occur when we need to define union from several cases.
For example: need to define enum of states.

This would look like:
[code]

Inferred type would be:
[code]

---

I guess it would be great to have better solution like:
[code]

I do understand that `Psl\Type\Internal\UnionType` has only 2 branches: **left** and **right**
That's why propose just implement a func

[2021-04-26 18:13] azjezz commented on #183
Hm, i think we can allowing extra arguments to Type\union and Type\intersection ( i prefer if these two provide the same API ).

This will also prevent a BC break, in v2.0 we can drop $right and $left and make both union and intersection accept variadic arguments.

[2021-04-26 18:36] nzour commented on #183
🤔 Hmm,  I kept in my that `UnionType` has left and right branches, therefore function `union()` takes two arguments to be honest with users.

I was thinking about suggestion to define extra function to prevent boilerplate when we need define union type with a lot of cases.
But, If you think it is alright to expand already existed function - it is fair enough for me

[2021-04-26 18:40] azjezz commented on #183
we can have `function union(TypeInterface $right, TypeInterface $left, TypeInterface ...$other)`, `UnionType` is an internal class, there's no reason to design the public API to match it.

[2021-04-26 18:42] nzour commented on #183
Looks great for me.

[2021-04-26 18:43] azjezz commented on #183
Are you up for a PR?

[2021-04-26 18:44] nzour commented on #183
I'm on it

[2021-04-26 18:44] nzour commented on #183
By the way, why you want to make `union` and `intersection` completely variadic (in v2.0)?
`union(string())` - doesn't make sense for me

[2021-04-26 18:51] azjezz commented on #183
it doesn't to me too, but that's solvable via `Psl\invariant(Iter\count($types) >= 2, 'at least 2 types are required to create a union.');`

[2021-04-26 19:05] nzour commented on #183
Do you prefer runtime exception instead of statically analysed issue?

[2021-04-26 19:08] azjezz commented on #183
the reason is i don't like `$right, $left, $others`, maybe we could just rename them to something more appropriate...

WDYT about `$first, $second, ...$rest`? ( renaming arguments is not BC break, we can do it now )

[2021-04-26 19:13] nzour commented on #183
You right, `first`, `second` and `rest` sounds more logic, I see it now

[2021-04-28 10:51] yivi opened #186 "Vec\sum()?"
I see that there is no `array_sum()` equivalent provided.

Is this intentional, or is something that you'd be willing to consider?

[2021-04-28 10:51] yivi commented on #186
F*ck. Mislabelled "bug".

[2021-04-28 11:00] azjezz commented on #186
This function already exist as `Math\sum` ( https://github.com/azjezz/psl/blob/1.7.x/src/Psl/Math/sum.php#L14 ), or are you looking for a different behavior?

[2021-04-28 11:02] azjezz commented on #186
there's also https://github.com/azjezz/psl/blob/1.7.x/src/Psl/Math/sum_floats.php#L14 for floats :)

[2021-04-28 11:03] yivi commented on #186
Thanks! I was looking in the wrong place, following "core" "logic" for this.

[2021-04-28 11:03] #186 closed, assigned to azjezz

[2021-04-28 20:46] #183 closed, assigned to azjezz, nzour

[2021-05-04 04:32] weirdan commented on #122
Is that a thing though? I thought PHP project did not provide any builds whatsoever apart from their Windows builds. And distro builds can vary a lot.

[2021-05-04 11:08] azjezz commented on #122
no, you can find tarballs here: https://www.php.net/downloads

tho, i personally build my own binaries but with all almost all options enabled.

[2021-05-04 17:02] weirdan commented on #122
Tarballs are not builds, so that actually a 'yes' :wink:

[2021-05-04 17:28] azjezz commented on #122
ah, yea.

but i still can't figure out how people compile PHP with ext-sodium ( which is required in composer.json ), but without argon2, since PHP 7.4, ext-sodium provides a fallback mechanism for argon2 when PHP is compiled without libargon ( RFC: https://wiki.php.net/rfc/sodium.argon.hash )

[2021-05-04 17:48] azjezz commented on #122
okay, it seems PHP does this only with libsodium newer than 9.6 ( https://github.com/php/php-src/pull/4012/files#diff-3fe4027560fd299248af1dc1efe04287cc2b6418e8f01755c05c9db64b668b1eR646-R650 ), so now i'm wonder if require ext-sodium ^9.2 is really a good solution here...

[2021-05-04 17:58] weirdan commented on #122
In my case it turned out I was using different PHP binaries for installation and run time (phpenv can cause funny problems sometimes), so it's no longer an issue for me.

[2021-05-14 17:03] #59 closed, assigned to azjezz

[2021-05-14 17:39] azjezz opened #190 "replace `mixed` type annotations with `mixed` type hint"
since PSL 1.7 will require PHP 8.0, we should replace the usage of `mixed` annotation with `mixed` type hint.

[2021-05-15 19:53] azjezz commented on #190
closed in #191

[2021-05-15 19:53] #190 closed, assigned to azjezz

[2021-05-19 08:32] azjezz opened #194 "strict types is ignored when mapping or filtering arrays due to the usage of PHP builtin functions"
This bug was introduced in #169 by mistake, the solution would be to wrap all callbacks provided by the end user in another closure to ensure that strict types is used.

**Environment (please complete the following information):**
 - OS: *
 - PHP version: 7.4, 8.0
 - Version: 1.6, 1.7

**Additional context**

see https://github.com/Roave/BackwardCompatibilityCheck/pull/306#discussion_r635004153

[2021-05-19 08:33] azjezz commented on #194
we have to benchmark which solution is better:

1. wrap callbacks in a closure
2. re-implement array_* functions in userland.

[2021-05-19 09:01] Ocramius commented on #194
I think we'll likely need to suck it up and keep using `array_` functions here: assuming 100% type coverage on sources, we can assume that the given values are within the type boundaries of the provided callbacks.

The `array_*` functions are massively outperforming any iterative approach, as they can operate at zval level.

[2021-05-19 09:10] Ocramius opened #195 "Introduce benchmark + performance regression checks"
As `Psl\` grows in size and adoption, its performance becomes one important evaluation point when considering it for downstream adoption.

This question came up in both https://github.com/azjezz/psl/issues/194 and https://github.com/Roave/BackwardCompatibilityCheck/pull/306, and it would be a good idea to have reference/comparison.

The idea is to have following benchmarks:

 * comparison of Psl a

[2021-05-19 09:17] azjezz commented on #195
some functions will always be slower than core ( e.g: [`Regex\matches`](https://github.com/azjezz/psl/blob/1.8.x/src/Psl/Regex/matches.php#L19) will always perform worst than preg_match, due to additional error handling ), the question is how much difference is considered acceptable.

[2021-05-19 09:21] Ocramius commented on #195
Obviously, Psl will always be slower than core: it is required to keep the baseline under control though, as performance regressions often go unnoticed.

Also, knowing how much slower the library is allows for downstream consumers to take an informed decision as to when/where to use it.

[2021-05-19 12:00] azjezz commented on #194
fixed and released as 1.6.1 and 1.7.1

[2021-05-19 12:00] #194 closed, assigned to azjezz

[2021-05-19 13:01] dantleech commented on #195
r.e. running in CI - I'm doing this with a [bash script](https://github.com/phpactor/worse-reflection/blob/master/.github/phpbench_regression_test.sh) with assertions at a tolerance of 10% (but this is too optimistic, 15% might be better). It's still an experimental area (i also tried two separate actions to combine their results, but this doesn't work as the actions can run in completely differen

[2021-05-19 13:35] Ocramius commented on #195
Sounds feasible - even with a very high tolerance, it's more about looking at it before releasing, I guess?

Intra-worker performance should be relatively stable

[2021-05-19 13:52] dantleech commented on #195
with a 15% tolerance it should catch obvious regressions, I guess if you want to check more subtly then before release/at PR time.

as in 2 actions? at least for me (the one time i tried it) this resulted in less stable results

[2021-05-19 13:55] Ocramius commented on #195
No no, same action and container: nothing guarantees that you will get two boxes running on a similar hardware otherwise.

[2021-05-27 14:24] azjezz opened #198 "rework exceptions"
we should refactor all of our exceptions, and use error instead where it makes sense.

  - [ ] move exceptions from `Exception` namespace to `Throwable` namespace in all components.
  - [ ] extend Error instead of  Exception in `InvariantViolationException` ( and rename to `InvariantViolation` ) - #308

[2021-06-03 13:31] vaclavvanik opened #204 "Filesystem - read_file - InvariantViolationException message should contains filename"
**Is your feature request related to a problem? Please describe.**

When I try to `read_file` which does not exist,  is not file or is not readable `InvariantViolationException` is thrown with message like `$file does not exist`.

I would like to see given filename in exception message. It's than easier to debug and fix possible problem.

**Describe the solution you'd like**

Replace

[code]

with

[2021-06-03 14:11] azjezz commented on #204
I'm pretty sure this is done in multiple other places as well.

would you like to send a PR? :)

[2021-06-03 14:23] vaclavvanik commented on #204
Sure, I will create PR. Which branch should I target?

[2021-06-03 14:24] azjezz commented on #204
1.8.x since it's not a bug :)

[2021-06-03 14:25] azjezz commented on #204
Note: instead of Psl\invariant($fact, Str\format($message, ...$args)); you should do Psl\invariant($fact, $message, ...$args); ( the message will be formatted only if the $fact is false.

[2021-06-03 16:09] azjezz opened #206 "[Documentation] automatically update documentation after PR is merged."
Having contributors run php doc/documentor.php after every little change is annoying ( see #205 ), we should automate this via GitHub actions.

[2021-06-03 16:15] #204 closed, assigned to azjezz

[2021-06-08 10:10] temp opened #207 "shape() with oneOf()?"
Type checking with shape() works like a charm! 👍

But we stumbled upon some checks that we didn't know how to solve.
Something like React PropTypes oneOf() would be nice (https://reactjs.org/docs/typechecking-with-proptypes.html).
Or is there a combination of PSL methods that is able to achieve this?

[code]

We implemented our own Type Check for this, but it would be awesome to have this out of t

[2021-06-08 12:30] azjezz commented on #207
what is the difference between this and Type\union(Type\literal_scalar('A'), Type\literal_scalar('B')); ?

[code]

[2021-06-08 13:20] temp commented on #207
Nothing, I guess - that's what er where looking for. I find it rather hard to find solutions for non-trivial cases. Although you might argue that this IS a trivial case :-D
Nevertheless, thanks!

[2021-06-08 13:32] azjezz commented on #207
No problem :) glad i could help.

[2021-06-08 13:32] #207 closed, assigned to azjezz

[2021-06-11 12:18] vaclavvanik opened #208 "ShapeType and CoercionException"
I love coercing ShapeType. I can easily check if given payload is in expected format. However debugging complex ShapeType CoercionException is pain in the ass.

Let's see simple (complex) example:

[code]

This will throw `CoercionException` with message:  `Could not coerce "string" to type "non-empty-string".`

It is really confusing I do not know which node is invalid.

I would suggest message l

[2021-06-11 13:01] azjezz commented on #208
type exceptions contain a type trace, however, the type trace for shapes needs a bit of improvement.

example: https://phpsandbox.io/n/broad-sunset-wkem-c9oad

[2021-06-11 13:06] azjezz commented on #208
another example: https://phpsandbox.io/n/broad-sunset-wkem-c9oad

one this that i think would be useful is to flip the frames by default.

[2021-06-22 14:57] azjezz opened #210 "[Collection] add `CollectionInterface::chunk()` method."
This method should act the same way as `Vec\chunk<T>(iterable<T> $iterable, int $size): list<list<T>>`, but with a signature of `CollectionInterface<Tk, Tv>::chunk(int $size): VectorInterface<CollectionInterface<Tk, Tv>>`

[2021-06-24 05:46] zerkms opened #212 "Typing for `shape` makes psalm think it's a no-op"
**Describe the bug**
I'm not sure if it's Psl typing or psalm-related bug, so trying it here first :-)

**To Reproduce**
[code]
This code emits just one error
[code]
and it refers to the `augment` function. It only fails type check if it's already known to be an array, but not when `mixed`.

**Expected behavior**
I think in both cases there should be no type check warnings.

**Environment (please

[2021-06-24 07:05] zerkms opened #213 "Redundant shuffling in Iter\random()"
**Describe the bug**
I believe there is no need to shuffle given a random index is selected anyway.

**To Reproduce**
https://github.com/azjezz/psl/blob/9aef574325bdf854c4886ad0006c4886b0b88842/src/Psl/Iter/random.php#L23-L42

**Expected behavior**
Should not shuffle before picking a random element.

**Environment (please complete the following information):**
 - OS: [e.g. iOS, Ubuntu]
 - PHP vers

[2021-06-24 08:06] azjezz commented on #212
are you using the psl psalm plugin ( github.com/php-standard-library/psalm-plugin )? 🤔

[2021-06-24 08:10] azjezz commented on #213
I don't think this is a "bug", as the behavior is still what you would expect ( i.e random value ), but we can remove the shuffling in the next minor release 👍

[2021-06-24 10:11] zerkms commented on #212
Sure, if it's not easily reproducible for you I can make up a repro repository tomorrow.

[2021-06-24 10:12] zerkms commented on #213
Indeed not a bug, the other options fit even worse though :-D

[2021-06-24 10:34] azjezz commented on #212
what psalm version are you using exactly? could you please send a PR containing a failing static analysis test? ( see: https://github.com/azjezz/psl/tree/1.8.x/tests/static-analysis/Type ), this will be easier for me to debug.

[2021-06-24 22:10] zerkms commented on #212
@azjezz just done it https://github.com/azjezz/psl/pull/214

Presumably, that problem is masked with suppressing `RedundantCondition`.

I understand the reason `RedundantCondition` is used (to have extra runtime checks), but why isn't it suppressed in place: like in cases when you know it for sure, so can tell it explicitly, instead of suppressing it everywhere and masking real issues?

That quest

[2021-06-24 22:15] azjezz commented on #212
I think yes, I'm just lazy 😛

[2021-06-25 00:31] zerkms commented on #212
@azjezz would you be in favour of that change? To clean up `psalm.xml` and entirely remove all global suppressions?

[2021-06-30 16:32] veewee opened #216 "Dict\take() not playing nice with generators"
**Describe the bug**

When calling `Dict\take()` and `Dict\take_while()` twice on an iterator, you receive a fatal exception.

More info, see https://github.com/azjezz/psl/pull/215.

**To Reproduce**
[code]

Result:

or

Result:

**Expected behavior**
It should list:

* [1...3]
* [3...6]

**Additional context**

Handling take like this does the trick:

[code]

[2021-07-10 02:20] azjezz commented on #213
fixed in https://github.com/azjezz/psl/commit/6f5c992f4054ad08449cd170d18060d4e5c620b6

[2021-07-10 02:20] #213 closed, assigned to azjezz

[2021-07-31 14:44] bendavies commented on #27
@azjezz I was just looking to see if PSL had a datetime api! any plans for this?

[2021-07-31 15:44] azjezz commented on #27
not yet, the plan would probably be to port HSL datetime once it is stable.

see: https://github.com/hhvm/hsl-experimental/pull/180/ https://github.com/hhvm/hsl-experimental/pull/182/ https://github.com/hhvm/hsl-experimental/pull/183

[2021-08-02 16:06] bendavies commented on #27
@azjezz good to know, thanks!

[2021-08-26 06:54] Ocramius opened #222 "`empty` and `non-empty` types"
Working with some code today, I noticed that @michaelpetri implemented following in a code snippet, while trying to migrate from `webmozart/assert` to `azjezz/psl`:

[code]

In practice, this is mostly a nuisance, but I feel like we could improve the `Psl\Type` namespace by adding `empty` and `!empty` type mutators, possibly usable via `Psl\Type\intersection()`:

[code]

Obviously, `Type\not()` is

[2021-08-26 09:05] Ocramius commented on #222
Related: https://github.com/azjezz/psl/issues/145

[2021-08-26 10:28] azjezz commented on #222
Hm, i think this is a good idea 👍

[2021-09-04 17:14] azjezz commented on #222
I'm marking this as resolved since these types were implemented in #201, #200

[2021-09-04 17:14] #222 closed, assigned to azjezz

[2021-09-04 17:18] Ocramius commented on #222
🥳

[2021-09-08 20:39] #195 closed, assigned to nobody

[2021-09-14 19:51] bendavies opened #227 "asserting type of non_empty_string triggers psalm error when asserting known string"
**Describe the bug**
Psalm reports a string is always a string here, but we are checking for a non empty string.
How can I avoid this error?

**To Reproduce**
[code]

[code]

**Expected behavior**
No errors

**Environment (please complete the following information):**
 - PHP version 8.0
 - `vimeo/psalm:4.10.0`
 - `azjezz/psl:1.8.0`

**Additional context**

[2021-10-01 13:05] bendavies commented on #227
@azjezz any ideas here?

[2021-10-01 13:17] azjezz commented on #227
Hm, i'm taking a look at this, weird thing, when the return type is a TypeInterface<non-empty-string>, it fails, but when it's NonEmptyStringType, it doesn't 🤔

https://psalm.dev/r/68932ca73c

vs

https://psalm.dev/r/8ecfbcc96a

[2021-10-01 17:26] bendavies commented on #227
strange!

[2021-10-02 20:53] azjezz commented on #227
ref: https://github.com/vimeo/psalm/issues/6573

[2021-10-02 20:53] azjezz commented on #212
ref: https://github.com/vimeo/psalm/issues/6573

[2021-10-16 18:14] azjezz commented on #216
fixing this just for take/drop functions might be a good idea, but we have to evaluate the performance impact, thankfully, we now have benchmarks, so we can spot massive performance drops easily.

[2021-10-16 18:21] azjezz opened #237 "[meta] version 2.0"
new components:

- [Async] `Awaitable` handle + async helpers based on [`revolt`](https://github.com/revoltphp) ( #244 )
- [File] a new high level abstraction for file resources.
- [Network] a high level network abstraction ( #257 )
- [TCP] a TCP implementation of `Network` component ( #257 )
- [Unix] a Unix implementation of `Network` component ( #257 )
- [Runtime] expose information about PHP ru

[2021-10-16 18:28] azjezz commented on #237
@veewee are you aware of any other places where we can make use of enums instead of scalar arguments? 🤔

[2021-10-18 17:38] veewee commented on #237
Scrolled to the source - but havent found much of those.
Not sure if possible, but maybe one that covers all hash_algos?
https://github.com/azjezz/psl/blob/1.9.x/src/Psl/Hash/algorithms.php

[2021-10-29 23:59] azjezz commented on #120
done in #241

[2021-10-29 23:59] #120 closed, assigned to azjezz

[2021-11-06 21:02] azjezz commented on #28
@HenkPoley FYI, File API has been implemented in #250, network/tcp/udp are in the work #257.

[2021-11-08 03:03] #28 closed, assigned to azjezz

[2021-11-08 06:39] azjezz opened #260 "documentation"
current documentation is mostly useless, as the same could be achieved by simply browsing through `src/Psl` directory.

Plan:
  - write better documentation using markdown
  - each component should be documented on it's own, with examples.
  - each component documentation should include all symbols defined within the component.
  - deploy documentation using GitHub pages.

---

Task list:

- [ ] C

[2021-11-08 06:40] azjezz commented on #206
closed in favor of #260

[2021-11-08 06:40] #206 closed, assigned to azjezz

[2021-11-08 07:07] azjezz commented on #260
documentation repository: https://github.com/php-standard-library/php-standard-library.github.io
documentation url: https://php-standard-library.github.io

[2021-11-09 15:02] bendavies opened #263 "OSX: `Filesystem\create_temporary_file(Env\temp_dir()))` not equivalent to `\tempnam(\sys_get_temp_dir())`"
**Describe the bug**
Not a bug as such, but it caused a failure on my testsuite so thought you might want to know about it:

on OSX (or any system where `sys_get_temp_dir()` is a symlink: `Filesystem\create_temporary_file(Env\temp_dir()))` not equivalent to `\tempnam(\sys_get_temp_dir())`.

`Filesystem\create_temporary_file(Env\temp_dir()))` will return `/var/folders/c9/etc...`
`\tempnam(\sys_get_

[2021-11-09 16:05] azjezz commented on #263
so it seems `tempnam` resolves symlink, while Filesystem\create_temporary_file doesn't.

Not sure if we should 🤔 currently `create_temporary_file` doesn't use `tempnam`, and i don't really see a gain from using it.

[2021-11-09 16:30] bendavies commented on #263
yep exactly :)

[2021-11-09 16:31] bendavies commented on #263
could call `Filesystem\canonicalize(...)` on the result

[2021-11-11 13:59] bendavies opened #271 "`Psl\Shell\execute` with TTY"
**Is your feature request related to a problem? Please describe.**
Hi there,

I want to replicate this code with PSL, but it doesn't look like we have TTY support here:

[code]

the `whatever` is interactive and require input from the user.

**Describe the solution you'd like**
Being able to configure a TTY/PTY :)

[2021-11-11 14:06] azjezz commented on #271
Shell\execute doesn't support input, it's more like a replacement for exec/shell_exe/system, than symfony/process, however, since now we have Async IO in PSL ( v2 branch ), it would be possible to introduce a new Process component, but it's not in my TODO list.

If someone else would pick this up, it would be great.

[2021-11-26 11:05] pottink opened #288 "Uncaught RuntimeException on Psl\Iter\Iterator::current()"
**Describe the bug**
When running tests I get following error:

[code]

**To Reproduce**
[GitHub Actions:
](https://github.com/phpro/http-tools/runs/4333028876?check_suite_focus=true)

**Environment (please complete the following information):**
 - OS: Ubuntu
 - PHP: 8.1
 - Version: 1.6.0

[2021-11-26 12:11] azjezz commented on #288
PSL 1.6.0 doesn't support PHP 8.1, i suggest you explicitly require PSL ^1.9.1

[2021-11-26 12:15] azjezz commented on #288
Hmm, phppro/http-tools requires PHP 7.4, so you can't actually upgrade to PSL 1.9.1 yet, i think we can back port the PHP 8.1 fix to all branch from 1.6 to 1.8, and release a new version for each, this way you can set minimum required PSL version in your project to `1.6.1`.

[2021-11-26 12:23] veewee commented on #288
No worries, we are planning to drop 7.4 support since they can still use older versions of the package with 7.4.
The issue why this was not clear, is because we are validating --prefer-lowest with --ignore-platform-reqs I suppose.

Thanks!

[2021-11-26 12:29] azjezz commented on #288
not really, 1.6 allows php ^7.4 || ^8.0, meaning PHP 8.1 is fine, and 1.6 being the last version to support 7.4, i think it would be okay to back port PHP 8.1 fixes there ( using the attribute, since we can't use mixed return type there )

[2021-11-26 12:30] azjezz commented on #288
ref: https://github.com/azjezz/psl/commit/9fdb771b1d04e57b7ad82fe01a367a37075e47d2

[2021-11-26 12:43] pottink commented on #288
Sorry, version is 1.9.2, typo.

[2021-11-26 13:01] azjezz commented on #288
no, i changed the version in your issue.

You are using --prefer-lowest in GitHub Action, which installs PSL 1.6.0.

[2021-11-26 17:18] azjezz commented on #288
@veewee i'll leave this up to you, as i don't think i will have time to work on it personally in next couple of days ( i believe you have permission necessary to do so and release 1.6.2, 1.7.4, and 1.8.2 )

i personally think it's a good idea to fix compatibility with 8.1 for ^1.6.x since it's the last version with PHP 7.4 support, so people wanting to support PHP 7.4 and upwards can do so.

[2021-11-26 18:19] veewee commented on #288
Sounds like a solid plan! I am also very limited in time for a while. We'll see who gets to it first.

[2021-12-03 15:59] azjezz commented on #260
channel component documentation has been written 🎉 https://php-standard-library.github.io/#/components/channel/

[2021-12-03 19:18] azjezz commented on #260
class, interface, trait, and html components are now documented 🎉

https://php-standard-library.github.io/#/components/class/
https://php-standard-library.github.io/#/components/interface/
https://php-standard-library.github.io/#/components/trait/
https://php-standard-library.github.io/#/components/html/

[2021-12-03 22:14] azjezz commented on #260
shell component is now documented:

https://php-standard-library.github.io/#/components/shell/

[2021-12-04 02:16] azjezz opened #299 "[IO] `IO\error_handle()` ( STDERR ) should be readable."
**Describe the bug**

the handle returned from `IO\error_handle()` ( which refers to `STDERR` ), should be both read and write handle.

**To Reproduce**
Code to reproduce the behavior: N/A

**Expected behavior**

N/A

**Environment (please complete the following information):**
 - OS: Ubuntu
 - PHP version 8.1
 - Version 2.0.x-dev

**Additional context**

ref: https://twitter.com/azjezz/status/146

[2021-12-04 02:25] azjezz commented on #299
I didn't implement this because i'm not sure if i should.

The patch is pretty simple, we just change the fd mode from `wb` to `wb+` and use `CloseReadWriteStreamHandle` instead of `CloseWriteStreamHandle`.

However, the behavior of reading from STDERR is weird, the only application for it is when STDIN is redirected.

e.g:

[code]

In this case, `IO\input_handle()` points to `some-file.txt`, and

[2021-12-04 07:15] veewee commented on #260
Been through the links above: very clear explanations. Haven't really found any typos at this point either 🙂

[2021-12-04 19:34] azjezz commented on #260
pseudo-random, and secure-random components are now documented:

https://php-standard-library.github.io/#/components/pseudo-random/
https://php-standard-library.github.io/#/components/secure-random/

[2021-12-04 21:06] azjezz commented on #260
runtime component is now documented:

https://php-standard-library.github.io/#/components/runtime/

[2021-12-04 21:34] azjezz commented on #260
shell exceptions are now documented:

https://php-standard-library.github.io/#/components/shell/?id=exceptions

[2021-12-04 21:39] azjezz commented on #260
@veewee wanna take care of `Fun` and `Regex`? i think you would be better at explaining those.

[2021-12-04 22:13] azjezz commented on #260
json component is now documented:

https://php-standard-library.github.io/#/components/json/

[2021-12-04 22:53] azjezz commented on #299
`STDERR` appears to be write-only on Windows.

---

more context:

https://pubs.opengroup.org/onlinepubs/9699919799/functions/stderr.html

https://unix.stackexchange.com/questions/574086/reading-from-stderr-in-c/574096#574096

[2021-12-05 01:38] azjezz commented on #260
iter component is now documented:

https://php-standard-library.github.io/#/components/iter/

[2021-12-05 07:58] veewee commented on #260
I don't mind, but am a bit limited in OS time the coming 2 months. We're working hard on a tight deadline.

Fyi : Gonna mark every page I proof-read with an emoji to keep track :)

[2021-12-06 02:03] azjezz commented on #260
I just added `inline-code-highlight` docsify plugin to the documentation.

This helps 99% of the time, and makes things more readable, e.g:
<details>
<summary>examples of before/after</summary>

`Html` before:
![image](https://user-images.githubusercontent.com/29315886/144775147-f3d7d798-b820-4e2a-9b65-c2a15661184a.png)

`Html` after:
![image](https://user-images.githubusercontent.com/29315886/144

[2021-12-06 08:06] veewee commented on #260
Would it make sense to introduce an attribute for annotating the generics in the docs?
It might be less confusing for PHP developers?

[2021-12-06 17:39] azjezz commented on #260
couple of solutions:

![image](https://user-images.githubusercontent.com/29315886/144894628-83cbdcf1-061f-4d07-a67d-5b35e7d63336.png)

![image](https://user-images.githubusercontent.com/29315886/144894462-754bb344-c92c-4562-8b5f-0ae95b05f8aa.png)

![image](https://user-images.githubusercontent.com/29315886/144894552-5539595a-9071-48d5-99b8-20fb999226e4.png)

[2021-12-06 17:47] azjezz commented on #260
i think `@template` works great.

i also did some modification to remove list style type, and add a bottom border for each symbol definition.

before:
![image](https://user-images.githubusercontent.com/29315886/144895781-b3d18b18-82fd-47f9-bf1b-083d375a3bd3.png)

after:

![image](https://user-images.githubusercontent.com/29315886/144895758-54605308-2530-4086-b629-b244df7e039b.png)

[2021-12-06 19:32] azjezz commented on #260
another update:

each symbol now has a border around it to make it look like a box, the next step would be to give these "boxes" unique ids, and add a "link" button, so people can share links to a specific symbol in the documentation.

![image](https://user-images.githubusercontent.com/29315886/144909951-1b08e58b-d4dd-44bd-86ac-db2de2f1e64e.png)

[2021-12-06 20:01] veewee commented on #260
Yes, `@template` works well indeed.
Would it also make sense to add `@pure` instead of showing it in those separate info elements?

[2021-12-06 20:22] azjezz commented on #260
yea, i think that would work, same for `@mutation-free, @external-mutation-free, and @immutable`

[2021-12-06 21:15] azjezz commented on #260
done 🎉
![image](https://user-images.githubusercontent.com/29315886/144923687-de2a9a90-1a85-403d-9b72-d8967891a78d.png)

[2021-12-08 09:58] azjezz commented on #288
fixed :)

released:

- https://github.com/azjezz/psl/releases/tag/1.6.2 ( probably what you want to use )
- https://github.com/azjezz/psl/releases/tag/1.7.4
- https://github.com/azjezz/psl/releases/tag/1.8.2

[2021-12-08 09:58] #288 closed, assigned to azjezz

[2021-12-08 21:05] azjezz commented on #260
async component is now documented:

https://php-standard-library.github.io/#/components/async/

[2021-12-10 05:36] azjezz opened #306 "rename `ReadHandlerInterface::readImmediately` and `WriteHandleInterface::writeImmediately` to `tryRead` and `tryWrite`"
This is more of a new convention that we should start following in PSL.

Given we have 2 methods that are intended to do X.
Where one does X immediately and might not succeed , while the other does X and tries again after waiting for `X` to be doable.
The methods should be named `tryX()` and `x()`.

we already follow this convention in 3 places currently in PSL:

1. `Channel\SenderInterface::send(

[2021-12-10 05:44] azjezz commented on #306
The main reason `Channel\ReceiverInterface::tryReceive()` throws instead of returning `null`, is that the end user won't be able to tell if `null` itself is the value.

since both are generic, `T` theoretically could be `null`, so there's no way to tell the difference between `null` value, and `null` as the absence of a value.

we could solve this by introducing `Option<T>/Some<T>/None`, but I'm n

[2021-12-10 05:47] azjezz opened #307 "never catch `Throwable`, only `Exception`."
`Psl\Async` is currently inconsistent with `Psl\Result`, as the later only catchs `Exception`, while `Psl\Async` catches `Throwable` ( e.g: failed async function call ).

I think the right thing to do would be to only catch `Exception`s, as `Throwable` generally means you are doing something wrong, and you should fix it, not catch it.

This would also allow us to introduce a new `Psl\Promise\Promi

[2021-12-10 05:49] azjezz opened #308 "extend `Error` for `InvariantViolationException` instead of `Exception`"
invariant violations should never be caught, as they indicate you are doing something wrong ( passing an empty array to an API that requests `non-empty-array`, or an negative number to an API that stats the parameter type is `positive-int` ), therefor, these should be fixed before even calling the API, not by catching the violation.

we should rename `InvariantViolationException` to `InvariantViol

[2021-12-10 09:16] asgrim opened #310 "Feature - support for maglnet/ComposerRequireChecker"
Not sure which way round this should go, whether `azjezz/psl` should add support, or the other way round. If i use `maglnet/ComposerRequireChecker` on a project that also depends on `azjezz/psl`, because of the custom autoloader, there are several symbols which cannot be guessed by `maglnet/ComposerRequireChecker`.

[code]

A reasonable workaround (and maybe indeed, the final "recommendation", giv

[2021-12-10 09:22] azjezz commented on #310
This definitely a bug in the tool, it seems that it can't recognize that these are part of psl, it should probably figure that out by getting the filename to the function using reflections, and checking which package they belong to.

[2021-12-10 09:32] asgrim commented on #310
My understanding is that `maglnet/ComposerRequireChecker` uses dependencies defined in `composer.json` only (hence the naming), and I get the feeling that using reflection to analyse dependency may be out of scope (although, I haven't asked, so I may be wrong).

An acceptable answer is "won't fix" here I think; as the workaround is probably fine; was really just some food for thought :)

[2021-12-10 09:38] azjezz commented on #310
would adding psr-4 configuration to psl composer.json fix this? If so, i can definitely do that, it's already the case for the 2.0.x branch.

[2021-12-10 10:00] asgrim commented on #310
After a bit of hacking I used `2.0.x-dev` but `maglnet/ComposerRequireChecker` chokes on PHP 8.1 syntax at the moment. So, to do a fake downgrade to test this (replacing `enums` with `class`es with `const`, and removing `readonly`), it does appear to work, yes.

[2021-12-10 10:17] azjezz commented on #310
Noice, will add it autoload configuration to composer.json then, even tho it's going to be useless.

If you like you can send a PR against 1.9.x branch, or i can do it later.

[2021-12-10 10:27] asgrim commented on #310
OK great, I've sent in #311 :+1:

[2021-12-10 10:36] azjezz commented on #310
Thank you @asgrim, 1.9.3 has been released: https://github.com/azjezz/psl/releases/tag/1.9.3

[2021-12-10 10:36] #310 closed, assigned to azjezz

[2021-12-10 10:36] asgrim commented on #310
Thank YOU sir!

[2021-12-12 01:37] azjezz opened #312 "[network] `ServerInterface` should implement `IO\CloseHandleInterface`"
A server is a handle, and therefore it should implement the handle interface.

`TCP\Server`, and `Unix\Server` should implement `IO\Stream\CloseHandleInterface` as they can provide the underlying server stream ( which can be used to retrieve to monitor incoming connections using the async scheduler ).

[2021-12-12 02:55] #312 closed, assigned to azjezz

[2021-12-12 03:24] #306 closed, assigned to azjezz

[2021-12-12 03:33] azjezz commented on #299
decided that this won't be fixed for now, will come back to it later after 2.0 has been released.

[2021-12-12 03:33] #299 closed, assigned to azjezz

[2021-12-15 07:49] azjezz opened #316 "[IO] merge `IO` and `IO\Stream` components"

[2021-12-15 18:13] azjezz commented on #316
closes in https://github.com/azjezz/psl/commit/6fc52481078f02f43ae5916940f8641f2da0a892

[2021-12-15 18:13] #316 closed, assigned to azjezz

[2021-12-16 20:46] VincentLanglet commented on #260
HI @azjezz, I think it could be useful to add some documentation about why using this library (or maybe I missed it).
For instance, I saw a PR https://github.com/Roave/BackwardCompatibilityCheck/pull/306 removing some libraries in favor of this one, and I was kinda curious about why this change was worth it.

So for instance, as a developper using `webmozart/assert` currently, would I have some be

[2021-12-17 11:41] azjezz commented on #260
I think that would be a nice addition, but currently it's not a high priority, as it's more important to document components then writing a comparison.

[2021-12-18 03:45] azjezz commented on #307
done

[2021-12-18 03:45] #307 closed, assigned to azjezz

[2021-12-18 03:46] azjezz commented on #307
`Psl\Promise` component has been implemented in 2.0.x branch.

[2021-12-18 18:17] azjezz commented on #260
fun, and promise components are now documented:

https://php-standard-library.github.io/#/components/promise/
https://php-standard-library.github.io/#/components/fun/

[2021-12-18 20:11] azjezz commented on #260
TCP component is now documented:

https://php-standard-library.github.io/#/components/tcp/

[2021-12-18 20:38] azjezz commented on #260
Unix component is now documented:

https://php-standard-library.github.io/#/components/unix/

[2021-12-18 20:42] veewee commented on #260
Fyi : The docs web site on my phone tries to display the content in about half the available screen size. It is due to the borders and the margins. It is a bit annoying, not sure if other people will read it on the phone though 😉

[2021-12-19 14:17] azjezz commented on #260
Yea, I'm aware of that issue, i will try fixing it after finishing up the documentation ( though, I am not really good with CSS stuff :p )

[2021-12-28 22:33] azjezz opened #327 "[bug][async]: sequence allows for concurrent calls."
**Describe the bug**

`Async\Sequence` allows for concurrent task processing.

**To Reproduce**

[code]

outputs `duration: 4`

**Expected behavior**
outputs `duration: 6`

**Environment (please complete the following information):**
 - OS: N/A
 - PHP version: 8.1
 - Version: 2.0.x-dev

**Additional context**

reported by @trowski

[2021-12-28 22:40] #327 closed, assigned to azjezz

[2021-12-29 14:52] veewee opened #329 "Closure vs callable"
**Describe the bug**
In V2, callables got replaces by Closure types all over the place.
I don't think this is a good idea.

Given following example:

[code]

This will result in:

[code]

Even though this class is invokable (callable):

[code]

This is a quite common structure in my codebases.
The only alternative is to use the new first-class callable operator, but It adds some unnecesary noise o

[2021-12-29 17:50] azjezz commented on #329
There's multiple reasons for doing this, but i think we can revert this just for `Psl\Fun` component as it doesn't apply there if you see that it's okay.

The reason is that revolt-php scheduler doesn't accept callables, just Closures, this is because it's easier to weaken closures before adding them to the event loop where a reference to the object scope will be held for an unknown amount of time

[2021-12-29 18:40] veewee commented on #329
The downside of only accepting closures is that one has to change pretty much every place where they are now using callables to be able to upgrade and use V2.
I don't honestly see the gain in this.

Just to give an idea, we use invokables all over the place. We use it because PHP (currently) lacks the possibility to autoload functions. In one way, it solves the autloading issue. Besides that, we u

[2021-12-29 20:01] azjezz commented on #329
I don't think BC with v1 matters, there's so many BC breaks already ( stuff that wasn't deprecated in v1.9 as well ), so that is not really important, i wouldn't recommend trying to keep compatibility with both v1 and v2.

This will lower performance, even if something is already a closure, doing `$closure = $closure(...)` takes time.

using first-class callable syntax will always be faster: https

[2021-12-29 20:43] veewee commented on #329
Interesting numbers!
If you have 100.000 closures, it takes 0.015s more to convert it to a closure. How many closures would a server / long running process pass to the event loop? Those will most likely be dynamically added, meaning this convertion is spread over the parts that dynamically add these?  These slow-downs will most likely be executed whilst some other part is waiting for IO to finish?

[2021-12-29 21:04] azjezz commented on #329
no always, assuming you are dealing with 10000 resources ( http connections, database connections, redis, filesystem, sub process ... etc), at all time, there's a resource ready to be dispatched, so doing something else, most likely means delaying another operation.

[2021-12-29 21:16] veewee commented on #329
Ok, I thought it would only be necessary to convert to closure when something gets [scheduled](https://github.com/azjezz/psl/blob/2.0.x/src/Psl/Async/Scheduler.php). And that the amount of schedules would be quite ok.

[2021-12-30 00:10] jrmajor opened #330 "Exit code 139 with no error thrown in `File\write()`"
**Describe the bug**
Code snippet below causes PHPUnit to claim that all tests were successful and exit with exit code 139.
[code]
I tried to track down what happens in `File\write()` but get lost somewhere in Revolt.

**To Reproduce**
[code]

**Expected behavior**
Error thrown or `0` exit code.

**Environment:**
 - OS: macOS
 - PHP version 8.1
 - Version 2.0.x-dev#94a0231

[2021-12-30 00:21] azjezz commented on #330
🤔 hmm, interesting.

are you using uv, ev, or event extension?
is pcntl extension enabled? if so, does this error persist if you disable pcntl extension?

[2021-12-30 00:25] azjezz commented on #330
can you create a repository to reproduce this? i'm assuming this issue is somehow related to PHPUnit, as i can't replicate using just the provided script.

File\write is also tested in PSL test suite, and it's exists correctly.

do you have pcntl extension enabled?
are you using uv, ev, or event extensions?

[2021-12-30 00:58] jrmajor commented on #330
Here's a repository with reproducing code: https://github.com/jrmajor/psl-issue-330.

From the extensions you asked about, I only have `pcntl` extension enabled.

[2021-12-30 01:10] azjezz commented on #330
The issue is most likely related to Revolt, and not PSL. however, i will keep this issue open until i figure out where it's happening exactly.

[2021-12-30 01:21] azjezz commented on #330
@jrmajor can you provide me with your PHP version details and all extensions used ( `php -v && php -m && php -r "print_r(ini_get_all());"` )? as that still doesn't reproduce for me locally.

![image](https://user-images.githubusercontent.com/29315886/147714232-a6e4cd92-1e02-4098-a8cc-6af305a3aa59.png)

[2021-12-30 02:00] jrmajor commented on #330
[code]

<details>
<summary>Extensions:</summary>

[code]

</details>

<details>
<summary>INI:</summary>

[code]

</details>

[2021-12-30 02:15] azjezz commented on #330
~:tada: managed to reporudce this!~

~This only happens with xdebug 3.1.1, xdebug 3.1.2 fixes the issue :D~

apparently the error i get with xdebug 3.1.1 is different from yours:
[code]

can you check if xdebug 3.1.2 fixes your issue?

[2021-12-30 02:24] jrmajor commented on #330
Thank you, upgrading Xdebug to 3.1.2 worked! There is a commit in Xdebug repo mentioning fixing segmentation fault (https://github.com/xdebug/xdebug/commit/ab70f3b2a319bd31151a156d8b90e99e3200e0c4), so I guess that's it.

[2021-12-30 02:24] #330 closed, assigned to azjezz

[2022-01-07 09:34] #329 closed, assigned to azjezz

[2022-01-08 17:03] #210 closed, assigned to azjezz

[2022-01-08 23:20] #198 closed, assigned to azjezz

[2022-01-08 23:23] azjezz commented on #227
since this is a psalm issue, i'm closing it here.

[2022-01-08 23:23] #227 closed, assigned to azjezz

[2022-01-08 23:25] azjezz commented on #122
This issue has been fixed in 2.0.0, fixing it in 1.9 will result in BC breaks, so there's nothing can be done.

[2022-01-08 23:25] #122 closed, assigned to azjezz

[2022-01-08 23:25] azjezz commented on #212
same as #227; closing.

[2022-01-08 23:25] #212 closed, assigned to azjezz

[2022-01-08 23:26] #308 closed, assigned to azjezz

[2022-03-24 21:52] supermavster commented on #122
Thanks for all comments I have an idea:

In base of this post [Link](https://stackoverflow.com/questions/56497578/php-warning-use-of-undefined-constant-password-argon2id-when-using-password-has)

[code]

so if change the `PASSWORD_ARGON2ID` to `PASSWORD_DEFAULT`  in the file:

`azjezz/psl/src/Psl/Password/constants.php`

all the process for the new version pass the all the test in the code?

it's

[2022-03-31 18:43] iggyvolz opened #342 "Add TLS/SSL support"
**Is your feature request related to a problem? Please describe.**
The TCP component is incapable of connecting over TLS/SSL (ex. to any HTTPS site)

**Describe the solution you'd like**
The simplest solution would be to add a flag to `Psl\TCP\Connect` which would set the protocol to `tls` (tls requested) or `tcp` (default/no tls requested) here: https://github.com/azjezz/psl/blob/9f9ddfe5eff68d39

[2022-04-01 12:31] azjezz commented on #342
I have thought about supporting TLS, however, i didn't look into it much, i will give it a go maybe next week and keep this issue updated.

[2022-05-11 12:35] simPod commented on #237
What is the recommended way to install that?

`azjezz/psl 2.0.0 requires revolt/event-loop dev-main -> found revolt/event-loop[dev-main, 1.x-dev (alias of dev-main)] but it does not match your minimum-stability.` but I don't really want to allow `minimum-stability: dev`

[2022-05-11 15:59] azjezz commented on #237
oh shout! i completely missed that!

there has been a new release for revolt ( https://github.com/revoltphp/event-loop/releases/tag/v0.2.4 ), so PSL should use that instead of dev-main.

@simPod can you send a PR for this? otherwise, i can do this tomorrow evening.

[2022-05-11 16:00] azjezz commented on #237
oh shout! i completely missed that!

there has been a new release for revolt ( https://github.com/revoltphp/event-loop/releases/tag/v0.2.4 ), so PSL should use that instead of dev-main.

@simPod can you send a PR for this? otherwise, i can do this tomorrow evening.

[2022-05-11 16:26] simPod commented on #237
Here https://github.com/azjezz/psl/pull/348

[2022-05-11 21:46] azjezz commented on #237
released 2.0.1 with the fix, thank you :)

[2022-05-26 20:22] dragosprotung opened #349 "`\Psl\Filesystem\get_extension()` can return empty string"
**Describe the bug**
`\Psl\Filesystem\get_extension()` can return empty string

**To Reproduce**
[code]

**Expected behavior**
`null` to be returned.

**Additional context**
Not sure how this should be fixed.
One  aproach to fix this would be to change the return from `non-empty-string|null` to `string|null`.
Personally I would expect `null` to be returned for a file without an extension but with

[2022-05-28 19:28] azjezz commented on #349
I'm leaning more toward returning null in this case.

[2022-06-01 15:36] dragosprotung commented on #349
Closed by #350

[2022-06-01 15:36] #349 closed, assigned to azjezz

[2022-06-06 08:53] dragosprotung opened #351 "Writing to a non existing file using \Psl\File\WriteMode::TRUNCATE does not create the file"
**Describe the bug**
Writing to a non existing file using `\Psl\File\WriteMode::TRUNCATE` does not create the file.
As per the documentation:
[code]

**To Reproduce**
[code]

**Expected behavior**
File to be created

**Additional context**
Is the documentation wrong or the implementation ?

I can create a PR for this, but I would like to know if we should change the behaiviour (possible BC break?)

[2022-06-06 11:57] azjezz commented on #351
This is indeed a bug.

https://github.com/azjezz/psl/blob/9b7517dcbacd07ec807bf45179bf72c7372516cf/src/Psl/File/WriteHandle.php#L31-L40

`$open_or_create = $write_mode === WriteMode::OPEN_OR_CREATE;` should be `$open_or_create = $write_mode === WriteMode::OPEN_OR_CREATE || $write_mode === WriteMode::TRUNCATE;`

[2022-06-08 07:35] #351 closed, assigned to azjezz

[2022-06-28 18:21] someniatko opened #355 "Result is too restrictive, introduce Either type?"
I want to type a function/method representing action which may fail, but not from pure technical perspective, rather from the business logic one. For instance, "register new user" action may succeed, or may fail for reasons like "username is already taken" or "password is too short" etc. I don't want to split this action into two steps, a validation method and then the actual action method, becaus

[2022-06-28 22:27] azjezz commented on #355
I'm okay with adding this feature to PSL, however, i don't think i have the time to implement this myself, PRs are welcome :)

[2022-06-29 04:48] veewee commented on #355
You might find some inspiration in this version as well
https://github.com/marcosh/lamphpda/blob/master/src/Either.php

[2022-06-29 15:56] someniatko commented on #355
@veewee Thank you! This lib truly is a gem, however it has built some sort of "functional infrastructure" with Functor, Monad typeclasses etc. I am not sure we can and should recreate something like that in PSL.

[2022-06-30 07:04] azjezz commented on #355
personally,  I imagine the Either API in PSL to look like this:

[code]

[2022-06-30 07:16] someniatko commented on #355
IMO to complete the API it would be great to have at least those:

[code]

BTW, by having `getEither()` IDK if we need separate `getRight()` and `getLeft()`, which may throw exception.

[2022-06-30 07:28] someniatko commented on #355
[code]

may also be desirable

[2022-06-30 07:40] veewee commented on #355
Maybe also a `proceed($onLeft, $onRight): T` similar to the result class?

[2022-07-01 13:54] azjezz commented on #355
I think we should, getEither would return `Tr|Tl`, when `isRight` returns true, i know that `getEither` would return `Tr`, but psalm/phpstan would assume it's `Tr|Tl`, having `getRight()` allows me to use it, knowing it won't throw since `isRight()` returned true.

[2022-07-01 14:04] someniatko commented on #355
The whole point of Either is that you don't know which of the two outcomes will you get beforehand. You can still process its individual "branches" using mapLeft() / mapRight()
or proceed() as @veewee suggests

[2022-07-01 16:16] azjezz commented on #355
I'm in favor of `proceed($fr, $fl)` to keep consistency, however, `getEither` IMO, shouldn't not be a thing, `Either<Tr, Tl>` represents either one of those two types in question ( `Tr` and `Tl` ), if you want to work on both, you would use `proceed<Tr2, Tl2>((Closure(Tr): Tr2) $fr, (Closure(Tl): Tl2) $fl): Either<Tr2, Tl2>` is what you want to use, which would return another `Either` instance, if

[2022-07-01 16:24] azjezz commented on #355
rust either type has many other methods that we could also implement ( see: https://docs.rs/either/latest/either/enum.Either.html#method.left_or_else )

[code]

( note: all methods prefixed with `unwrap` in rust either type return `Option<T>` which we don't have here, returning `?T` is not an option as `null` could be a valid `T` value.  )

[2022-07-01 16:27] azjezz commented on #355
example ( stupid, and you shouldn't use Either in this case, but it gives you the idea 😛 ) :

[code]

[2022-07-01 16:29] azjezz commented on #355
@someniatko wdyt?

[2022-07-01 17:38] someniatko commented on #355
@azjezz it totally makes sense to me with those three `unwrap` functions you've suggested. Basically, `unwrapRight()`, `unwrapLeft()` and `unwrap()` are just renamed `getLeft()`, `getRight()` and `getEither()` from the previous comments. And in Haskell there is `either()` function which is basically in our terms `proceed()` + `unwrap()`.

[2022-07-01 17:41] azjezz commented on #355
what do you think about the other ones ( `*Or`, `*OrElse`, `*OrThen` )?

[2022-07-01 17:42] someniatko commented on #355
Hmm, I looked a bit more closely, the `proceed()` method of the Result actually also unwraps it as well. So if we want to do it consistently, `proceed()` must also unwrap. I see it as a convenience method over mapLeft() + mapRight() + unwrap(), however maybe there is some deeper functional sense in it, IDK.

[2022-07-01 17:47] someniatko commented on #355
As to `unwrapLeft()` / `unwrapRight()` functions which in Rust return an `Option`, why then not implementing `Option` first?

[2022-07-01 17:53] someniatko commented on #355
If we implement an `Option` and return it for the `unwrapX()` methods, then we don't actually have to use those `or` / `orThen` methods on Either itself, we could just have them on the `Option`:

[code]

I am not sure about `orElse` though, thinking.
It's basically some sugar for `proceed($fr, $fl)` without providing one of the callables, right?

[2022-07-01 18:19] someniatko commented on #355
By the way, if `proceed` will also extract the value as `either()` in Rust and Haskell, then, I guess, separate `unwrap()` (`getEither()` as I suggested earlier) method is indeed not needed.

Just summarizing the discussion, the full API for could look like this:

[code]

[2022-07-02 09:03] azjezz commented on #355
@someniatko `Option` implemented in #356, would appreciate your review :)

[2022-07-09 01:10] iggyvolz commented on #342
Is there anything I can do to help move this along?  I could submit a PR with bc4f95386dbd9f10fe1d871feb3c781625296835 (2 line change) which has worked well for me in the past several months.  It works well enough without any options, and they could potentially be added later.

[2022-07-12 12:52] rodnaph opened #357 "Type\not_null()"
**Is your feature request related to a problem? Please describe.**

Quite often I find myself using `Type\instance_of` to assert values are not null, for example...

[code]

Here I'm essentially duplicating the expected type (`Foo::class`), because it's usually already declared on the property/method etc...  but is nullable.

**Describe the solution you'd like**

It would be more concise to be abl

[2022-07-25 22:18] zerkms commented on #357
There is `Psl\invariant`:

[code]

And indeed - I also personally prefer to use `not null` assertion other than `it should be of this type`.

[2022-07-29 00:12] zerkms opened #358 "Type for `numeric-string`"
**Is your feature request related to a problem? Please describe.**

It would be a `Type\numeric_string()` that asserts/coerces a `string` value down to `numeric-string`.

**Describe the solution you'd like**

**Describe alternatives you've considered**

I don't think you can implement the assertion with `invariant()`.

**Additional context**

I'm converting from `webmozart/assert` and I don't thin

[2022-07-29 00:14] zerkms commented on #358
Okay, I was wrong, it's possible to implement with `invariant` :facepalm:

[2022-08-18 15:21] BackEndTea opened #359 "assert/coerce on dict will always loop over entire dict"
**Is your feature request related to a problem? Please describe.**

In some cases i just want to check that a value i get is a dict.
Now i write something like this:

[code]

The downside is that this will loop over the entire dict.

**Describe the solution you'd like**
Either a new type that describes an dict with keys and values, which does not need to loop over every item.
Or a check in the `Di

[2022-08-18 15:46] azjezz commented on #359
I don't really see a safe of way of doing this in rhe existing dict/vec types, i think introducing Type\mixed_dict and Type\mixed_vec is the way to go about it.

[2022-08-19 08:10] veewee opened #360 "Loader is not scopable"
If you try to add psl to a phar (with box and scoper), the loader can not deal with scoped namespaces:

[code]

Resulting in:

Stack trace:
#0 phar:///Projects/xxx/xxxx.phar/vendor/azjezz/psl/src/Psl/Internal/Loader.php(83): _HumbugBox0f71ea1f2338\Psl\Internal\Loader::load('_HumbugBox0f71e...', 1)
#1 phar:///Projects/xxx/xxxx.phar/vendor/azjezz/psl/src/Psl/Internal/Loader.php(51): _HumbugBox0f71ea

[2022-08-19 13:37] azjezz commented on #360
I don't think that's a good idea, i have worked on projects where `vendor/` is set to be non-writable after deployment, so if that's the case, PSL will fail to create the file.

I'm open to other ideas that don't involve writing to files at runtime.

[2022-08-28 06:53] #360 closed, assigned to azjezz

[2022-10-14 11:14] Ocramius opened #366 "Idea: `Psl\Type\enum(MyEnum::class)`"
I was working on a way to convert inputs to `enum` instances.

## My own janky implementation

On an old application (pre-PHP 8.1), I had my own abstraction for ENUMs, based on [`myclabs/enum`](https://github.com/myclabs/php-enum).

I built a `MyEnum::pslType()` abstraction, which produces a `\Psl\Type\TypeInterface<static>` (`static` being `MyEnum`):

[code]

It's really ugly, but it works.

## P

[2022-10-14 11:17] azjezz commented on #366
Yes, i think adding enum support in Type component is needed at this point, hopefully the next minor version of PSL will be ready by next week which will include this one.

[2022-10-14 11:20] Ocramius commented on #366
BTW, not expecting you to write one: was just throwing it in the bucket.

It is easily built in userland, at this stage, just very (very!) inefficient, plus the errors don't work well with the rest of the type component.

[2022-11-04 07:44] #366 closed, assigned to azjezz